

/**ENCABEZADO**/

h1{
    color: #939;
}

h2{
    color:  #cc6600;
}

/**BACKGROUND PÁGINA**/

html{
    background-color: #d2dc9d;

}

#header {
    background-color: white;
    opacity: 50%;
}

body{
    background-image: url(/images/blackgoose.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/**LINKS**/
#info li{
    color:  #939;
}

a:hover {
    color:#c700f2; /* morado */
    background-color: white;
    }

a:visited {
        color: #937393; /* purpura */
        }

a:active {
    color: #ff00ff;
    background-color: white;
}
/**IMÁGEN HEADER**/

#header{
    background-image: url(/images/purpledot.png);
    background-repeat: repeat-x;
}